// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
div.widget-playlist {

  background-color: $background-color;
  vertical-align: top;
  padding: 25px 15px;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 45px;
  }

  .table-playlist {
    font-size: 18px;

    tr:nth-child(even) {
      background: rgba(255, 255, 255, 0.05);
    }

    th, td {
      padding: 8px;
    }

    .title {
      text-align: left;
    }

    .time, .state {
      text-align: right;
    }
  }
}
