<h1 class="title" data-bind="title"></h1>

<table class="table-playlist">
  <tr>
    <th>Title</th>
    <th>Time</th>
    <th>State</th>
  </tr>
  <tr data-foreach-item="Items">
    <td class="title" data-bind="item.Title"></td>
    <td class="time" data-bind="item.Time"></td>
    <td class="state" data-bind="item.State"></td>
  </tr>
</table>

<p class="more-info" data-bind="moreinfo"></p>
<p class="updated-at" data-bind="updatedAtMessage"></p>
