<% content_for :title do %>Corax dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="playlist_day" data-view="Playlist" data-title="Morgens ab 6" data-moreinfo="# of times said around the office"style="background-color:#ff9618;"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
        <div data-id="havag" data-view="Havag" data-title="Havag" style="background-color:#9c4274">
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="playlist_night" data-view="Playlist" data-title="Abends und Nachts" data-moreinfo="# of times said around the office"></div>
    </li>
  </ul>
</div>
